<!--<p *ngFor="let file of fileList">-->
  <!--<i class="far fa-file"></i> {{file.fileName}}-->
<!--</p>-->
<div class="card">
  <div class="card-header">
    poc-files-search-ui
  </div>
  <div class="card-body">
    <h5 class="card-title">Configure search filters</h5>


      <div class="form-group">
        <label for="fileNameInput">File Name</label>
        <input [(ngModel)]="fileFilter.fileName" (keyup)="doSearch()" type="text" class="form-control" id="fileNameInput" aria-describedby="emailHelp" placeholder="Enter filename">
      </div>

    <div class="form-group">
      <label for="parentDirectoryInput">Parent Directory</label>
      <input [(ngModel)]="fileFilter.parentDirectory" (keyup)="doSearch()" type="text" class="form-control" id="parentDirectoryInput" aria-describedby="emailHelp" placeholder="Enter parent directory">
    </div>

      <button class="btn btn-primary" (click)="doSearch()">Search</button>

  </div>
</div>

<br/>
{{fileList | json}}
<table class="table table-striped table-dark">
  <thead>
  <tr>
    <!--<th scope="col">#</th>-->
    <th scope="col">FileName</th>
    <th scope="col">Size</th>
    <th scope="col">Parent</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td><span>   ..</span></td>
    <td></td>
    <td></td>
  </tr>
  <tr *ngFor="let file of fileList">
    <!--<th scope="row">1</th>-->
    <td *ngIf="!file.isDirectory"><span><i class="far fa-file fa-fw fa-2x"></i>{{file.fileName | slice:0:100}}</span></td>
    <td *ngIf="file.isDirectory"><a (click)="onItemClick(file)"><span><i class="fas fa-folder fa-fw fa-2x"></i>{{file.fileName | slice:0:100}}</span></a></td>
    <td>{{file.fileAttributes.size | fileSizePipe}} </td>
    <td>{{file.parentDirectory}}</td>
  </tr>
  </tbody>
</table>
